.logoWrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 24px;
}

.logoText {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 81%;
  color: #333153;
}