.headerContainer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px 150px;
  background-color: var(--color-6);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.headerLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-2);

  text-decoration: none;
}

.headerLink:hover {
  color: var(--color-accent);
  transition: all 0.3s;
}

.headerLinkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.adminWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  cursor: pointer;
}

.adminLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-2);
  text-decoration: none;

  cursor: pointer;
}

.adminInput {
  cursor: pointer;
}