.postItemContainer {
  display: flex;
  column-gap: 20px;
  width: 150px;
  padding: 24px;
  background-color: var(--color-6);
  border-radius: 16px;
  
  margin-bottom: 10px;

  position: relative;
}

.postItemContent {
  display: flex;
  flex-direction: column;
}

.postItemTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--color-accent);

  margin-bottom: 7px;
}

.postItemDescription {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-2);
}

.favoriteImg {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 2px;
  right: 2px;

  cursor: pointer;
}

.likeImg {
  width: 20px;
  height: 20px;

  position: absolute;
  bottom: 2px;
  left: 15px;

  cursor: pointer;
}

.dislikeImg {
  width: 20px;
  height: 20px;

  position: absolute;
  bottom: 2px;
  left: 45px;

  cursor: pointer;
}

.trashBtn {
  width: 20px;
  height: 20px;

  position: absolute;
  bottom: 2px;
  right: 10px;

  cursor: pointer;
}
